* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: cursive;
}


body {
  height: 100vh;
  width: 100%;
}

.card {
  width: 90%;
  max-width: 470px;
  font-family: sans-serif;
  background-image: url("https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/styles/featured_media_detail/public/23908803715_404c5de323_z.jpg?o1aYzcGOVRCiliGBBPA_iiHiUehTZ39g&itok=U3M7G6EP");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: aquamarine;
  text-align: center;
  color: whitesmoke;
  border-radius: 7px;
  /* margin: 100px auto 0px; */
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 40px 35px;
  
}
.search {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0px;
  outline: 0px;
  background-color: beige;
  color: black;
  padding: 10px 25px;
  height: 45px;
  width: 100%;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 18px;
}

.search button {
  border: 0px;
  outline: 0px;
  background: bisque;
  height: 38px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

.search img {
  width: 19px;
}

.weather-img {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  size: 150px;
}

.weather h1 {
  font-size: 80px;
  position: relative;
  font-weight: 500px;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.4);
}

.weather h2 {
  font-size: 45px;
  font-weight: 400px;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.4);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.details .col {
  display: flex;
  text-align: left;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
}

.col .Humidity-img,
.col .windspeed-img {
  width: 40px;
}

.humidity h3,
.windspeed h3 {
  font-size: 27px;
}

#Weather-data {
  font-size: 25px;
  color: white;
  font-weight: 80px;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.4);
}

.weather {
  display: none;
}

.error {
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  color: red;
  font-weight: 500;
  display: none;
}

.section{
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-blend-mode: darken;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
      0deg,
      transparent,
      rgba(180, 202, 14, 0.49)
    ),
    url(https://img.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1203-5705.jpg?w=900&t=st=1692258951~exp=1692259551~hmac=4f179cf00f68f0d4566d275eb2bf6ddc32861755a8f85e27bcd913da5fe1b3df);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0%);
  backdrop-filter: brightness(50%);
}

